/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #dbeafe;
}

/* Login Container */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Box */
.login-box {
  width: 400px;
  background: #ffffff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Heading */
.login-box h1 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 10px;
}

/* Paragraph */
.login-box p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

/* Label */
.login-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Input */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #1d4ed8;
}